:root {
    --dark-spring-green: #2c6e49ff;
    --deep-champagne: #ffd791ff;
    --granite-gray: #6c6061ff;
    --pewter-blue: #82a6b1ff;
    --lt-pewter-blue: #82a6b1ff;
    --dark-sky-blue: #83b5d1ff;
    --baby-pink: #efc7c2ff;
    --eggplant: #694f5dff;
}

*{
    box-sizing: border-box;
}

body{
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--pewter-blue);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
}

.results-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark-sky-blue);
    width: 90%;
    max-width: 600px;
    height: 500px;
}

.input-container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 90%;
    max-width: 600px;
    margin: 10px 0px;

    background-color: var(--dark-sky-blue);

}

.message-container{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.guess-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 17%;
    max-height: 70px;
    width: 100%;
    background-color: var(--dark-sky-blue);

}

.letter-block{
    transform: rotateY(180deg);
    width: 11%;
    max-width: 56px;
    height: 80%;
    margin: 7px 5px;
}

.letter-block-inner{
    color: #FFFFFF00;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--lt-pewter-blue);
}


#input-box{
    color: var(--deep-champagne);
    height: 85%;
    width: 60%;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: var(--lt-pewter-blue);
}

input[type=text], textarea {
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 3px solid white;
    border-radius: 5px;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 10px var(--deep-champagne);
    border: 3px solid var(--deep-champagne);
}

button{
    color: white;
    height: 80%;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid white;
    transition: all 0.20s;
    background-color: var(--lt-pewter-blue);
}


button:active{
    transform: translateY(2px) scale(.95);
}

button:focus, button:hover {
    box-shadow: 0 0 10px var(--deep-champagne);
    border: 3px solid var(--deep-champagne);
}


.message-box{
    font-size: 1.5rem;
}

.no-guess{
    color: #FFFFFF00;
    background-color: var(--lt-pewter-blue);
}

.keyboard-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 33%;
    align-items: center;
    justify-content: center;
}

.key{
    display: flex;
    font-size: 1.5rem;
    margin: 2px;
    align-items: center;
    justify-content: center;
    width: 9%;
    height: 90%;
    background-color: var(--lt-pewter-blue);
    transition: transform 0.2s, background-color 0.2s .6s;
    border-radius: 3px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#backspace-key{
    width: 12%;
}

.key:hover{
    transform: scale(1.2);
}

.key:active{
    transform: translateY(2px) scale(.98);
}


.correct-letter{
    background-color: var(--dark-spring-green);
}

.misplaced-letter{
    background-color: var(--deep-champagne);
}

.incorrect-letter{
    background-color: var(--eggplant);
}

.letter-block-inner.correct-letter{
    transform: rotateY(180deg);
    color: white;
}

.letter-block-inner.misplaced-letter{
    transform: rotateY(180deg);
    color: white;
}

.letter-block-inner.incorrect-letter{
    transform: rotateY(180deg);
    color: white;
}

.block-1 {
    transition: transform 0.5s 0s, background-color 0.5s 0s, color 0.5s .3s;
}
.block-2 {
    transition: transform 0.5s 0.3s, background-color 0.5s 0.3s, color 0.5s 0.6s;
}
.block-3 {
    transition: transform 0.5s 0.6s, background-color 0.5s 0.6s, color 0.5s 0.9s;
}
.block-4 {
    transition: transform 0.5s 0.9s, background-color 0.5s 0.9s, color 0.5s 1.2s;
}
.block-5 {
    transition: transform 0.5s 1.2s, background-color 0.5s 1.2s, color 0.5s 1.5s;
}
.block-6 {
    transition: transform 0.5s 1.5s, background-color 0.5s 1.5s, color 0.5s 1.8s;
}
.block-7 {
    transition: transform 0.5s 1.8s, background-color 0.5s 1.8s, color 0.5s 2.1s;
}

.keyboard-container {
    display: none;
}



@media only screen and (max-width: 1000px){

    .results-container{
        width: 100%;
        height: 45%;
        max-width: none;
    }

    .input-container{
        width: 100%;
        height: 10%;
        padding: 0;
        margin-top: 5px;
        justify-content: space-evenly;
        padding: 0 5px;
    }

    #input-box{
        font-size: 1.25rem;
        height: 90%;
        width: 40%;
    }

    .reset-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 90%;
        width: 29%;
        margin: 1px;
    }

    input[type=text], textarea {
        transition: all 0.30s ease-in-out;
        outline: none;
        padding: 1px 0px 1px 5px;
        border: 2px solid white;
        border-radius: 5px;
        height: 90%;
    }

    input[type=text]:focus, textarea:focus {
        box-shadow: 0 0 5px var(--deep-champagne);
        border: 2px solid var(--deep-champagne);
    }

    button{
        font-size: 1.1rem;
        border-radius: 4px;
        border: 1px solid white;
        padding: 6px 6px;
        margin: 0 2px;
        height: 90%;
    }

    button:active{
        transform: translateY(2px) scale(.95);
    }

    button:focus, button:hover {
        box-shadow: 0 0 5px var(--deep-champagne);
        border: 1px solid var(--deep-champagne);
    }

    #submit-button{
        width: 25%;
        font-size: 1rem;
        height: 90%;
    }

    .keyboard-container{
        background-color: var(--dark-sky-blue);
        display: flex;
        flex-direction: column;
        height: 40%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .message-container{
        height: 5%;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .message-box{
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }


}